body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;
}

.row {
  margin: 1rem 0;
}

.hidden {
  display: none;
}

hr {
  margin-top: 1rem;
}

/* td {
  width: 50px;
  background-color: #222;
} */

.score {
  background-color: #222;
  padding: 1rem;
  width: 9rem;
  margin: 0.5rem;
  color: #fff;
}

span {
  margin: 0.4rem;
}

.score-td {
  margin-right: 2rem;
}
